<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Root Context: defines shared resources visible to all other web components -->
	<!--  userRepository -->
	<bean id="userRepository" class="com.impl.repositories.UserRepositoryImpl" />
	<!--  passwordEncoder -->
	<bean id="passwordEncoder" class="com.impl.utilities.BCryptPasswordEncoder" />
	<!--  userService -->
 	<bean id="userService" class="com.impl.services.UserServiceImpl">
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="passwordEncoder" />
	</bean>

</beans>
